<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Utenti</title>
    <link rel="stylesheet" th:href="@{/css/global.css}" href="global.css">
</head>
<body>
    <h1 class="title-main">Lista Utenti</h1>

    <form th:action="@{/admin/search/utenti}" method="get" >
        <input type="number" name="id" placeholder="cerca per id"/>
        <input type="text" name="nome" placeholder="cerca per nome"/>
        <input type="text" name="cognome" placeholder="cerca per cognome"/>
        <button type="submit">cerca</button>

        <a th:href="@{/admin/cancella/utente}">Azzera filtri</a>
    </form>


    <div class="card-custom" th:each="utente : ${utenti}" th:object="${utente}">
        <span>id:</span><span th:text="*{id}">id</span>
        <span>nome:</span><span th:text="*{nome}">nome</span>
        <span>cognome:</span><span th:text="*{cognome}">cognome</span>
        <span>email:</span><span th:text="*{email}">email</span>

        <form th:action="@{/admin/cancella/utente}" method="post">
			<input type="hidden" name="id" th:value="*{id}">
            <button type="submit">Cancella</button>
        </form>
    </div>

</body>
</html>
