<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestione Pools</title>
    <link rel="stylesheet" th:href="@{/css/global.css}" href="global.css">
</head>
<body>

    <h1>Pannello di Gestione</h1>

    <div class="dashboard">
        <a href="/admin/lista/sondaggi">
            <div class="card">
                <span>Cancella sondaggio</span>
            </div>
        </a>
        <a href="/admin/cancella/utente">
            <div class="card">
                <span>Cancella utente</span>
            </div>
        </a>
    </div>

</body>
</html>
